<div class="container">
	<h3>Введите имя игрока</h3>

	<div class="find">
		<input type="text" placeholder="Поиск" value="">
		<a class="waves-effect waves-light btn-large ajax_profile">Поиск</a>
	</div>	
	<div class="checks">
		<p>
      	<label>
      		<input class="with-gap" name="group1" type="radio" value="1" checked />
      		<span>Aльфа</span>
      	</label>
   	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group1" type="radio" value="2" />
        		<span>Браво</span>
      	</label>
    	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group1" type="radio" value="3" />
        		<span>Чарли</span>
      	</label>
    	</p>
	</div>
	
	<div class="nick">
		<h4 id="nickname" class="center"></h4>
		<h6 class="center">Игрок точен на <span id="accurracy"></span></h6>
	</div>
	
	<div class="dataGamer">
		<div class="flex">
			<div class="obsh">
				<h4 class="title_res center">Общее</h4>
				<h5>Ранг <span id="rank_id"></span></h5>
				<h5>Oпыт <span id="experience"></span></h5>
				<h5 class="klan">Клан <span id="clan_name"></span></h5>
			 	<h5>Всего убийств <span id='main_kills'></span></h5>
				<h5>Всего смертей <span id='main_death'></span></h5>
			 	<h5>Часов в игре <span id="playtime_h"></span></h5>
			 	<h5>Выстрелов <span id="shots"></span></h5>
			 	<h5>Попаданий <span id="hits"></span></h5>
			 	<h5>Хэдшотов <span id="headshots"></span></h5>
			 	<h5>Пополнено патронов <span id='player_ammo_restored'></span></h5>
			 	<h5>Восстановлено здоровья <span id='player_heal'></span></h5>
			 	<h5>Реанимированно игроков <span id='player_resurrect_made'></span></h5>
				<h5>Восстановлено брони <span id='player_repair'></span></h5>
				
				
			</div>

			<div class="pvp">
				<h4 class="title_res center">PVP</h4>
				<h5>Выстрелов <span id="pvp_shots"></span></h5>
				<h5>Убийств <span id="kills"></span></h5>
				<h5>Попаданий <span id="pvp_hits"></span></h5>
			 	<h5>Хэдшотов <span id="pvp_headshots"></span></h5>
				<h5>Убито минами <span id="pvp_player_kills_claymore"></span></h5>
				<h5>Убито в ближнем бою <span id="pvp_player_kills_melee"></span></h5>
				<h5>Убито друзей <span id="friendly_kills"></span></h5>
				<h5>Смертей <span id="death"></span></h5>
				<h5>Соотношение k/d <span id="pvp"></span></h5>
				<h5>Сыграно матчей <span id="main_pvp_all"></span></h5>
				<h5>Количество побед <span id="pvp_wins"></span></h5>
				<h5>Количество поражений <span id="pvp_lost"></span></h5>
				<h5>Сыграно вничью <span id="player_sessions_draw"></span></h5>
				<h5>Соотношение матчей w/l <span id="pvpwl"></span></h5>
				<h5>Исключений из боя <span id="player_sessions_kicked"></span></h5>
				<h5>Прервано матчей <span id="player_sessions_left"></span></h5>
				<h5>Любимый класс <span id="favoritPVP"></span></h5>

				<h4 class="game_class center">Штурмовик</h4>
				<h5>Выстрелов <span id="rif_player_shots"></span></h5>
				<h5>Попаданий <span id="rif_player_hits"></span></h5>
				<h5>Меткость <span id="rif_accurracy"></span></h5>
				<h5>Хэдшотов <span id="rif_player_headshots"></span></h5>
				<h5>В игре <span id="rif_player_playtime"></span></h5>
					
				<h4 class="game_class center">Медик</h4>
				<h5>Выстрелов <span id="med_player_shots"></span></h5>
				<h5>Попаданий <span id="med_player_hits"></span></h5>
				<h5>Меткость <span id="med_accurracy"></span></h5>
				<h5>Хэдшотов <span id="med_player_headshots"></span></h5>
				<h5>В игре <span id="med_player_playtime"></span></h5>

				<h4 class="game_class center">Инженер</h4>
				<h5>Выстрелов <span id="eng_player_shots"></span></h5>
				<h5>Попаданий <span id="eng_player_hits"></span></h5>
				<h5>Меткость <span id="eng_accurracy"></span></h5>
				<h5>Хэдшотов <span id="eng_player_headshots"></span></h5>
				<h5>В игре <span id="eng_player_playtime"></span></h5>

				<h4 class="game_class center">Снайпер</h4>
				<h5>Выстрелов <span id="snap_player_shots"></span></h5>
				<h5>Попаданий <span id="snap_player_hits"></span></h5>
				<h5>Меткость <span id="snap_accurracy"></span></h5>
				<h5>Хэдшотов <span id="snap_player_headshots"></span></h5>
				<h5>В игре <span id="snap_player_playtime"></span></h5>

				<h4 class="game_class center">CЭД</h4>
				<h5>Выстрелов <span id="sed_player_shots"></span></h5>
				<h5>Попаданий <span id="sed_player_hits"></span></h5>
				<h5>Меткость <span id="sed_accurracy"></span></h5>
				<h5>Хэдшотов <span id="sed_player_headshots"></span></h5>
				<h5>В игре <span id="sed_player_playtime"></span></h5>
			</div>

			<div class="pve">
				<h4 class="title_res center">PVE</h4>
				<h5>Выстрелов <span id="pve_shots"></span></h5>
				<h5>Убийств <span id="pve_kills"></span></h5>
				<h5>Попаданий <span id="pve_hits"></span></h5>
			 	<h5>Хэдшотов <span id="pve_headshots"></span></h5>
				<h5>Убито минами <span id="pve_player_kills_claymore"></span></h5>
				<h5>Убито в ближнем бою <span id="pve_player_kills_melee"></span></h5>
				<h5>Убито друзей <span id="pve_friendly_kills"></span></h5>
				<h5>Смертей <span id="pve_death"></span></h5>
				<h5>Соотношение k/d <span id="pve"></span></h5>
				<h5>Сыграно матчей <span id="pve_all"></span></h5>
				<h5>Количество побед <span id="pve_wins"></span></h5>
				<h5>Количество поражений <span id="pve_lost"></span></h5>
				<h5>Использованно знаков <span id="player_resurrected_by_coin"></span></h5>
				<h5>Соотношение миссий w/l <span id="pvewl"></span></h5>
				<h5>Исключений из миссий <span id="pve_player_sessions_kicked"></span></h5>
				<h5>Прервано миссий <span id="pve_player_sessions_left"></span></h5>
				<h5>Любимый класс <span id="favoritPVE"></span></h5>

				<h4 class="game_class center">Штурмовик</h4>
				<h5>Выстрелов <span id="e_rif_player_shots"></span></h5>
				<h5>Попаданий <span id="e_rif_player_hits"></span></h5>
				<h5>Меткость <span id="e_rif_accurracy"></span></h5>
				<h5>Хэдшотов <span id="e_rif_player_headshots"></span></h5>
				<h5>В игре <span id="e_rif_player_playtime"></span></h5>
					
				<h4 class="game_class center">Медик</h4>
				<h5>Выстрелов <span id="e_med_player_shots"></span></h5>
				<h5>Попаданий <span id="e_med_player_hits"></span></h5>
				<h5>Меткость <span id="e_med_accurracy"></span></h5>
				<h5>Хэдшотов <span id="e_med_player_headshots"></span></h5>
				<h5>В игре <span id="e_med_player_playtime"></span></h5>

				<h4 class="game_class center">Инженер</h4>
				<h5>Выстрелов <span id="e_eng_player_shots"></span></h5>
				<h5>Попаданий <span id="e_eng_player_hits"></span></h5>
				<h5>Меткость <span id="e_eng_accurracy"></span></h5>
				<h5>Хэдшотов <span id="e_eng_player_headshots"></span></h5>
				<h5>В игре <span id="e_eng_player_playtime"></span></h5>

				<h4 class="game_class center">Снайпер</h4>
				<h5>Выстрелов <span id="e_snap_player_shots"></span></h5>
				<h5>Попаданий <span id="e_snap_player_hits"></span></h5>
				<h5>Меткость <span id="e_snap_accurracy"></span></h5>
				<h5>Хэдшотов <span id="e_snap_player_headshots"></span></h5>
				<h5>В игре <span id="e_snap_player_playtime"></span></h5>

				<h4 class="game_class center">CЭД</h4>
				<h5>Выстрелов <span id="e_sed_player_shots"></span></h5>
				<h5>Попаданий <span id="e_sed_player_hits"></span></h5>
				<h5>Меткость <span id="e_sed_accurracy"></span></h5>
				<h5>Хэдшотов <span id="e_sed_player_headshots"></span></h5>
				<h5>В игре <span id="e_sed_player_playtime"></span></h5>
			</div>
		</div>
		
		
	</div>
	

<div class="cssload-dots load">
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
</div>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<filter id="goo">
			<feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
			<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo" ></feColorMatrix>
			
		</filter>
	</defs>
</svg>
	

</div>

