<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>


	<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Sonder-War</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <% if(isTop100) {%>
          <li class="active"><a href="/">Рейтинг топ-100</a></li>
        <% } 
        
        else { %>
         <li><a href="/top100">Рейтинг топ-100</a></li>
        <% } %>

        <li><a href="badges.html">Рейтинг кланов</a></li>
        <li><a href="collapsible.html">Ежемесячный рейтинг</a></li>
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/top100">Рейтинг топ-100</a></li>
    <li><a href="badges.html">Рейтинг кланов</a></li>
    <li><a href="collapsible.html">Ежемесячный рейтинг</a></li>
  </ul>

		<%- body%>
	<div class="cssload-dots load">
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
  </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo" ></feColorMatrix>
      
      </filter>
    </defs>
  </svg>
	
	
	<script src="jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="ajax.js"></script>
  <script src="topAjax.js"></script>
</body>
</html>