<div class="container">
	
<div class="top100">
	<div class="ckeckses">
		<div class="flex-center checks">
		<p>
      	<label>
      		<input class="with-gap" name="group2" type="radio" value="1" checked />
      		<span>Aльфа</span>
      	</label>
   	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group2" type="radio" value="2" />
        		<span>Браво</span>
      	</label>
    	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group2" type="radio" value="3" />
        		<span>Чарли</span>
      	</label>
    	</p>
	</div>

	<div class="flex-center checks">
		<p>
      	<label>
      		<input class="with-gap" name="group3" type="radio" value="1" checked />
      		<span>Штурмовик</span>
      	</label>
   	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group3" type="radio" value="2" />
        		<span>Медик</span>
      	</label>
    	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group3" type="radio" value="4" />
        		<span>Инженер</span>
      	</label>
    	</p>
    	<p>
      	<label>
        		<input class="with-gap" name="group3" type="radio" value="3" />
        		<span>Снайпер</span>
      	</label>
    	</p>
	</div>
	</div>
</div>
	
		
<div class="gamers">
	
</div>


	</div>	
</div>