<div class="container">
	
<div class="top100">
	<div class="ckeckses">
		<div class="flex-center checks">
		<p>
      	<label>
      		<input class="with-gap" name="group2" type="radio" value="1" checked />
      		<span>Aльфа</span>
      	</label>
   	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group2" type="radio" value="2" />
        		<span>Браво</span>
      	</label>
    	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group2" type="radio" value="3" />
        		<span>Чарли</span>
      	</label>
    	</p>
	</div>

	<div class="flex-center checks">
		<p>
      	<label>
      		<input class="with-gap" name="group3" type="radio" value="1" checked />
      		<span>Штурмовик</span>
      	</label>
   	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group3" type="radio" value="2" />
        		<span>Медик</span>
      	</label>
    	</p>
     	<p>
      	<label>
        		<input class="with-gap" name="group3" type="radio" value="4" />
        		<span>Инженер</span>
      	</label>
    	</p>
    	<p>
      	<label>
        		<input class="with-gap" name="group3" type="radio" value="3" />
        		<span>Снайпер</span>
      	</label>
    	</p>
	</div>
	</div>
</div>
	
		
<div class="gamers">
	
</div>


	</div>	


<div class="cssload-dots load">
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
  </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo" ></feColorMatrix>
      
      </filter>
    </defs>
  </svg>
  
  
  <script src="jquery-3.3.1.min.js"></script>
  <script src="topAjax.js"></script>