/*nav*/
.brand-logo {
	margin-left: 10px;
}

.hide-on-med-and-down li a{
	font-size: 18px
}


/*index*/
h3 {
	color: #4E5153;
	margin-top: 70px;
	font-weight: 500;
}

/*search*/
.find {
	display: flex;
	margin-top: 10px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.find input{
	width: 80% !important;
	
}

/*checks*/
.checks {
	display: flex;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
	padding-left: 25px;
}

.checks p{
	margin-right: 10px;
}

/*response*/

.dataGamer {
	display: none;
}

h4 {
	color: #202122;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
	font-size: 40px;
}

h5 {
	font-weight: 500;
}

.dataGamer span {
	color: #CD3E43;
}

/*load*/
.load {
	display: none;
}

svg {
	display: none;
}

.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 1px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 150px;
}

@media screen and (max-width: 1000px) {
	.cssload-dot {
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		top: 200px;
	}
}

.cssload-dot:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 63px;
	background: rgb(251,211,1);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -21.5px;
	margin-top: -21.5px;
}



.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 56.5px;
	height: 56.5px;
	margin-left: -28.75px;
	margin-top: -28.75px;
	animation: cssload-dot-colors 4s ease infinite;
		-o-animation: cssload-dot-colors 4s ease infinite;
		-ms-animation: cssload-dot-colors 4s ease infinite;
		-webkit-animation: cssload-dot-colors 4s ease infinite;
		-moz-animation: cssload-dot-colors 4s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 4s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 4s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 4s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 4s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 4s 0s ease infinite;
		-o-animation: cssload-dot-move 4s 0s ease infinite;
		-ms-animation: cssload-dot-move 4s 0s ease infinite;
		-webkit-animation: cssload-dot-move 4s 0s ease infinite;
		-moz-animation: cssload-dot-move 4s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4s 1s linear infinite;
		-o-animation: cssload-dot-rotate-2 4s 1s linear infinite;
		-ms-animation: cssload-dot-rotate-2 4s 1s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 4s 1s linear infinite;
		-moz-animation: cssload-dot-rotate-2 4s 1s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 4s 1s ease infinite;
		-o-animation: cssload-dot-move 4s 1s ease infinite;
		-ms-animation: cssload-dot-move 4s 1s ease infinite;
		-webkit-animation: cssload-dot-move 4s 1s ease infinite;
		-moz-animation: cssload-dot-move 4s 1s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4s 2s linear infinite;
		-o-animation: cssload-dot-rotate-3 4s 2s linear infinite;
		-ms-animation: cssload-dot-rotate-3 4s 2s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 4s 2s linear infinite;
		-moz-animation: cssload-dot-rotate-3 4s 2s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 4s 2s ease infinite;
		-o-animation: cssload-dot-move 4s 2s ease infinite;
		-ms-animation: cssload-dot-move 4s 2s ease infinite;
		-webkit-animation: cssload-dot-move 4s 2s ease infinite;
		-moz-animation: cssload-dot-move 4s 2s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4s 3s linear infinite;
		-o-animation: cssload-dot-rotate-4 4s 3s linear infinite;
		-ms-animation: cssload-dot-rotate-4 4s 3s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 4s 3s linear infinite;
		-moz-animation: cssload-dot-rotate-4 4s 3s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 4s 3s ease infinite;
		-o-animation: cssload-dot-move 4s 3s ease infinite;
		-ms-animation: cssload-dot-move 4s 3s ease infinite;
		-webkit-animation: cssload-dot-move 4s 3s ease infinite;
		-moz-animation: cssload-dot-move 4s 3s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		transform: translateY(0);
	}
	18%, 22% {
		transform: translateY(-88px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@-o-keyframes cssload-dot-move {
	0% {
		-o-transform: translateY(0);
	}
	18%, 22% {
		-o-transform: translateY(-88px);
	}
	40%, 100% {
		-o-transform: translateY(0);
	}
}

@-ms-keyframes cssload-dot-move {
	0% {
		-ms-transform: translateY(0);
	}
	18%, 22% {
		-ms-transform: translateY(-88px);
	}
	40%, 100% {
		-ms-transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-88px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes cssload-dot-move {
	0% {
		-moz-transform: translateY(0);
	}
	18%, 22% {
		-moz-transform: translateY(-88px);
	}
	40%, 100% {
		-moz-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-o-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-ms-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-moz-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes cssload-dot-rotate-1 {
	0% {
		-o-transform: rotate(-105deg);
	}
	100% {
		-o-transform: rotate(270deg);
	}
}

@-ms-keyframes cssload-dot-rotate-1 {
	0% {
		-ms-transform: rotate(-105deg);
	}
	100% {
		-ms-transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-moz-keyframes cssload-dot-rotate-1 {
	0% {
		-moz-transform: rotate(-105deg);
	}
	100% {
		-moz-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

@-o-keyframes cssload-dot-rotate-2 {
	0% {
		-o-transform: rotate(165deg);
	}
	100% {
		-o-transform: rotate(540deg);
	}
}

@-ms-keyframes cssload-dot-rotate-2 {
	0% {
		-ms-transform: rotate(165deg);
	}
	100% {
		-ms-transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@-moz-keyframes cssload-dot-rotate-2 {
	0% {
		-moz-transform: rotate(165deg);
	}
	100% {
		-moz-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}

@-o-keyframes cssload-dot-rotate-3 {
	0% {
		-o-transform: rotate(435deg);
	}
	100% {
		-o-transform: rotate(810deg);
	}
}

@-ms-keyframes cssload-dot-rotate-3 {
	0% {
		-ms-transform: rotate(435deg);
	}
	100% {
		-ms-transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@-moz-keyframes cssload-dot-rotate-3 {
	0% {
		-moz-transform: rotate(435deg);
	}
	100% {
		-moz-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes cssload-dot-rotate-4 {
	0% {
		-o-transform: rotate(705deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes cssload-dot-rotate-4 {
	0% {
		-ms-transform: rotate(705deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes cssload-dot-rotate-4 {
	0% {
		-moz-transform: rotate(705deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}